<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @pedido.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @pedido.valor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente.nome %>
</p>

<p>
  <strong>Produtos:</strong>
  <ul>
    <% @pedido.produtos.each do |p| %>
      <li><%= p.nome %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
